
/* GENERICS */
body{
    background: linear-gradient(to bottom, #2cbda5 0%, #2cbda5 22%, #dddbd1 22%, #dddbd1 22%, #dddbd1 100%);
    height: 100vh;
}

#root .row{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding-left: 10px;
}

div[class*='col-']{
    padding: 0;
}

.form-control:focus {
    box-shadow: none;
}

/* MAIN */
.panel{
    background-color: #eaeaea;
    height: 70px;
}


/* SIDE-BAR */
.img-user{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.to-border{
    border-right: 2px solid #8383eb;
}

/* NOTIFICATION-PANEL */
#notification-panel{
    background-color: #8edafc;
    height: 70px;
}

.img-bell{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
}

#notification-panel .fa-bell-slash{
    position: relative;
    right: 0;
    top: 10px;
    color: #8edafc;
}

.notification-app{
    font-size: 16px;
    font-weight: 600;
}

.desktop-app{
    font-size: 14px;
    color: gray;
}

/* CONTACT-LIST */

#contacts-list{
    height: 500px;
    background-color: #ffffff;
    overflow-y: auto;
}

/* CURRENT-CHAT */
#chat{
    height: 570px;
    background-image: url(img/mine.jpg) ;
    overflow-y: auto;
}

.date{
    font-size: 10px;
    text-align:right;
    color: #c2cdbb;
}

.sent{
    background-color: #d5f9ba;
    position: relative;
    left: 65%;
    width: 250px;
    min-height:0px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}


.received{
    background-color: white;
    position: relative;
    left: 6%;
    width: 250px;
    min-height:0px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

/* MESSAGE-INPUT */
.message-panel{
   height: 80px;
   z-index: 1;
   background-color: #eaeaea;
}

.message-panel:last-of-type {
    margin-top: auto;
  }

.fa-2xl{
    color: #6b7376;
}

.fa-xl{
    color: #6b7376;
}